/*Customized by drynfr (3 Jan, 2025)

Credit to @nutellaa & @kdy for css inspiration
*/

/*
    Hokaze Theme - Version 1.5.3
        by https://anilist.co/user/Anzu/
        at https://github.com/AnzuFTNW

    Special Thanks
        to https://anilist.co/user/cakes/
        for pointing out a few things and the hover effect on the navbar
*/

/* Settings */
:root,
.site-theme-dark,
.site-theme-contrast {
    /* General Settings */
    --hokaze-br: 10px;
    /* Global Border Radius */
    --hokaze-pv: 30px;
    /* Vertical Content Padding */
    --hokaze-ph: 30px;
    /* Horizontal Content Padding */
    --hokaze-bt: 0.3;
    /* Content Background Transparency*/
    --hokaze-nr: 30px;
    /* Navbar Border Radius */
    --hokaze-nl: 80%;
    /* Navbar Length */
    --hokaze-sb: 4px;
    /* Scrollbar Width */
    --hokaze-vo: 0.7;
    /* Opacity For Various Elements */
    --hokaze-vs: 0.975;
    /* Scale For Various Elements */
    --hokaze-vb: 2px;
    /* Various Avatar Border Thickness */
    --hokaze-sr: 4px;
    /* Social Page Border Thickness */
    --hokaze-fr: 30px;
    /* Footer Border Radius */
    --hokaze-fl: 85%;
    /* Footer Length */
    --hokaze-bl: 4px;
    /* Background 'Window' Blur Amount */
    --hokaze-rs: 5.025;
    /* Scaling For Load More Button And Activity Input */
    --hokaze-gs: var(--color-blue);
    /* Stats Wrap Gradient Start Color */
    --hokaze-ge: var(--color-blue-dim);
    /* Stats Wrap Gradient End Color */
    --hokaze-vt: all 0.5s ease-in-out;
    /* Transition For Various Elements */
    --hokaze-li: initial;
    /* Anilist Logo Source */
    --hokaze-lb: 0px;
    /* Anilist Logo Border Thickness */
    --hokaze-lr: 0px;
    /* Anilist Logo Border Radius */
    --hokaze-ls: 1.2;
    /* Anilist Logo Hover Scaling */
    --hokaze-bs: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        /* Box Shadow */
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px;
    --hokaze-ns: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        /* Box Shadow For Navbar */
        rgba(0, 0, 0, 0.07) 0px 2px 4px;


/* Quick Maths - !DON'T TOUCH! */
    --hokaze-brt: var(--hokaze-br) var(--hokaze-br) 0 0;
    --hokaze-brb: 0 0 var(--hokaze-br) var(--hokaze-br);
    --hokaze-bra: var(--hokaze-br) var(--hokaze-br) var(--hokaze-br) var(--hokaze-br);
    --hokaze-pdh: var(--hokaze-pv) var(--hokaze-ph);
    --hokaze-maw: calc(1520px - 2 * (100px - var(--hokaze-ph)));
    --hokaze-abs: var(--hokaze-ab) solid rgb(var(--color-foreground));
    --hokaze-nbr: 0 0 var(--hokaze-nr) var(--hokaze-nr);
    --hokaze-nbl: calc((100% - var(--hokaze-nl)) / 2);
    --hokaze-fbr: var(--hokaze-fr) var(--hokaze-fr) 0 0;
    --hokaze-fbl: calc((100% - var(--hokaze-fl)) / 2);
    --hokaze-bch: calc(330px - 75px);
    --hokaze-bcc: calc(var(--hokaze-bch) / 2);
    --hokaze-bctc: calc(var(--hokaze-bcc) - 36px / 2);
    --hokaze-vab: var(--hokaze-vb) solid rgb(var(--color-background));
    --hokaze-sab: var(--hokaze-sr) solid rgb(var(--color-background));
    --hokaze-lob: var(--hokaze-lb) solid rgb(var(--color-blue));
}

.nav:hover {
    top: 0px !important;
}
.links>.link:hover {
    color: rgb(var(--color-blue));
}
.nav>.link:hover::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue));
}
.history-day:hover {
    transform: scale(1.2);
}


@media screen and (min-width: 761px) {
    .activity-feed .activity-entry,
    .activity-feed .activity-replies .reply {
      animation: zoomIn 0.2s;
    }
    .medialist.table .entry:hover .cover .image {
      transition: .15s left;
    }
    .medialist .notes:before,
    .medialist .repeat:before,
    .medialist.table .entry:hover .cover .image {
      animation: fadeinTR .75s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards 1;
      animation-delay: .15s;
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
    }
    50% {
      opacity: 1
    }
  }
  @keyframes fadeinTR {
    from {
      transform: translateX(30%);
      opacity: 0;
      pointer-events: none;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
      pointer-events: all;
    }
  }
  
  /* Fixes for custom follow pages not having styles */
  .user-social .filter-group > span {
    cursor: pointer;
    border-radius: 3px;
    color: rgb(var(--color-text-lighter));
    display: block;
    font-size: 1.4rem;
    margin-bottom: 8px;
    padding: 5px 10px;
  }
  .hohSocialContent.user-follow {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,80px);
    grid-template-rows: repeat(auto-fill,80px);
  }
  .hohSocialContent.user-follow .avatar {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
  }
  .hohSocialContent.user-follow .name {
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    align-items: flex-end;
    background: rgba(var(--color-shadow),.6);
    color: rgb(var(--color-white));
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    opacity: 0;
    padding: 10px 4px;
    text-align: center;
    transition: opacity .3s ease-in-out;
    width: 100%;
    word-break: break-all;
  }
  .hohSocialContent.user-follow .follow-card:hover .name {
    opacity: 1;
    color: rgb(var(--color-white));
  }
  
  /* Custom CSS by @kdy */
  .page-content > .user {
    background: url() center bottom / cover no-repeat fixed !important;
    min-height: 100vh;
    padding-bottom: 25px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(57, 197, 187);
    border-radius: 10px;
  }
  *::-webkit-scrollbar {
    height: 8px;
    width: 4px;
  }
  #app > .wrap,
  #app > .wrap .footer {
    margin: 0 !important;
  }
  #app > .wrap .footer {
    background-image: url("Images/HinaBanner.png");
    background-position: 30px bottom;
    background-repeat: no-repeat;
    background-size: 140px;
  }
  #app .tooltip,
  #nav:not(.transparent),
  .el-tooltip__popper,
  .load-more,
  .el-input, 
  .el-textarea,
  .activity-feed-wrap .markdown-editor,
  .activity-feed .wrap,
  .activity-replies .reply,
  .el-dropdown-menu,
  .comment-wrap,
  .section-header .el-dropdown,
  .el-select-dropdown,
  .filter-toggle,
  .filters .theme-switch,
  .medialist.table .theme-switch,
  .medialist.table .list-section,
  #personalStats,
  #personalStatsManga,
  #miscQueries,
  #hohGenres #regularFilterHeading,
  .highlights,
  .horizontal-scroller,
  .pie-charts > .pie-chart,
  .bar-chart-wrap,
  .overview .favourites > .favourites-wrap,
  .favourites .favourites > .favourites-wrap,
  .switches .switch,
  .heading .switch,
  .highlight .circle,
  .bar-chart-wrap .x-axis,
  .line-chart-wrap .x-axis,
  .stat-card,
  .hohTable,
  .hohTable .header.row,
  .user-follow .follow-card,
  .no-reviews,
  .no-submissions,
  .submissions-page .submission,
  .overview .content-wrap,
  .header-wrap,
  span[slot="spinner"] {
    /* Disabled for performance
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    */
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: rgb(159,173,189) !important;
  }
  h1,
  h2,
  h3,
  .highlight .icon {
    color: rgb(159,173,189) !important;
  }
  .highlights {
    border-radius: 8px;
    padding: 20px;
  }
  .activity-edit .input.el-textarea textarea {
  background-color: rgba(0, 0, 0, 0.8)
  }
  .stats-wrap .label,
  .line-chart-wrap .point-label {
    color: #fff !important;
    fill: #fff !important;
  }

  .stats-wrap .footer .progress {
    background: rgb(6, 12, 19) !important;
  }
  .header-wrap .banner {
    background: none !important;
    height: 160px !important;
  }
  .header-wrap .avatar {
    margin-bottom: -46px;
  }
  .site-theme-dark .overview .favourite.studio,
  .overview .favourite.studio,
  favourites .favourite.studio,
  el-input__inner,
  el-textarea__inner,
  stats-wrap .footer,
  line-chart-wrap,
  relations-wrap,
  progress .bar:after,
  .nav-wrap,
  banner .shadow,
  #app .tooltip .title, #nav.transparent {
    background: none !important;
     }

.banner .shadow {
    background: none !important;
}

.activity-edit .input.el-textarea textarea {
        background: none !important;
  }

  .header-wrap .hohDownload {
    display: none !important;
  }
  .overview .content-wrap {
    box-shadow: 0 2px 20px rgba(49, 54, 68, 0.9);
  }
  .header-wrap .name {
    padding: 0 5px 6px 25px !important;
  }
  .header-wrap .mod-badge-wrap {
    margin-bottom: 27px !important;
    margin-right: 5px !important;
    position: initial !important;
  }
  .header-wrap .nav-btn {
    font-size: 1.2rem !important;
    margin-left: 5px !important;
    padding: 3px 8px !important;
  }
  .header-wrap .actions {
    line-height: 1.5;
    padding: 0 0 28px 0;
  }
  h2.section-header,
  h3.section-name,
  stats-wrap .heading h3,
  stats-wrap .header .title,
  user-social .user-comments .title {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 4px;
    padding: 6px 8px 4px !important;
    width: fit-content;
  }
  h2.section-header .actions {
    display: none;
    margin-left: 1em;
  }
  h2.section-header:hover .actions {
    display: initial;
  }
  h2.section-header .actions div {
    background: none !important;
    color: inherit !important;
    font-size: inherit !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
  h2.section-header .actions div:before {
    content: '(';
  }
  h2.section-header .actions div:after {
    content: ')';
  }
  .activity-feed-wrap > h2.section-header {
    /* exception */
    width: auto !important;
  }
  h3.section-name {
    margin-top: 0.5em;
  }
  .user-social .user-comments .title {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .user-social .user-comments .title ~ .comment-wrap {
    border-top-left-radius: 0 !important;
  }
  .section-header .el-dropdown {
    border-radius: 4px;
    padding: 2px 5px;
  }
  .filters .hohStatsTrigger,
  filter-group {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(49, 54, 68, 0.9);
    padding: 10px 8px;
  }
  .filter-group .active,
  .filter-group a.router-link-active,
  el-select-dropdown__item.hover,
  el-select-dropdown__item:hover,
  el-dropdown-menu__item:focus,
  el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: rgb(57, 197, 187) !important;
    color: #fff !important;
  }
  el-slider > .el-slider__runway {
    margin: 12px auto;
    width: 65%;
  }
  el-slider > .hohStepper:nth-child(2) {
    left: 0 !important;
  }
  el-slider > .hohStepper:nth-child(3) {
    right: 0 !important;
  }
  .user .overview .about {
    background-image: url("Images/HinaPFP.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 230px;
    border-radius: 5px;
  }
  .overview .favourite.studio::after {
    display: none !important;
  }
  el-select-dropdown__item.selected {
    color: rgb(57, 197, 187) !important;
  }
  .activity-entry:hover .time {
    background-color: #000 !important;
    border-radius: 4px;
    color: #fff !important;
    margin-right: -5px;
    padding-right: 5px;
  }
  #personalStats,
  #personalStatsManga,
  #miscQueries,
  #hohGenres #regularFilterHeading,
  highlights {
    border-radius: 8px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
    padding: 20px;
  }
  .user-social .follow-card,
  .user-social .avatar {
    border-radius: 50%;
  }
  span[slot='spinner'],
  .no-reviews,
  .no-submissions {
    border-radius: 6px;
    display: block;
    padding: 10px;
  }
  .submissions .notes {
    color: white !important;
    font-family: 'Indie Flower', cursive;
  }
  .markdown-spoiler {
    padding: 5px 0 !important;
  }
  .markdown-spoiler .hide-spoiler {
    opacity: 1 !important;
    position: initial !important;
    right: 0 !important;
  }
  .markdown-spoiler:before {
    margin-left: -5px !important;
    padding: 5px 10px !important;
  }
  .markdown-spoiler.spoiler-visible span {
    display: block !important;
    padding: 5px 10px !important;
  }
  .markdown-spoiler:before,
  .markdown-spoiler span {
    background: rgb(11,22,34) !important;
  }
 
  .overview .favourites > .favourites-wrap {
    column-gap: 0px !important;
    padding: 10px 5px !important;
  }
  /* Re-apply some AutoMail styles */
  .overview .favourites > .favourites-wrap {
    display: grid!important;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,85px);
    grid-template-rows: repeat(auto-fill,115px);
  }
  .overview .favourites > .favourites-wrap > div, .overview .favourites > .favourites-wrap > a {
    column-gap: 10px!important;
    margin-bottom: 0px!important;
    margin-right: 0px!important;
  }
  .overview .favourite.studio {
    align-content: center;
    cursor: pointer;
    display: grid;
    font-size: 15px;
    min-height: 115px;
    grid-gap: 10px;
    padding: 2px!important;
    padding-top: 8px!important;
    text-align: center;
  }
  /* Hide message telling people the profile has custom CSS */
  .user .overview .about .markdown > hr:last-of-type,
  .user .overview .about .markdown > p:last-of-type {
    display: none;
  }
  @media (max-width: 450px) {
    .header-wrap .donator-badge {
      display: none;
    }
  }
  @media (max-width: 760px) {
    .nav.container {
      margin-left: 140px !important;
      padding-left: 0 !important;
      width: calc(100% - 140px) !important;
    }
    .header-wrap .banner {
      height: 35px !important;
    }
    .header-wrap .name,
    .header-wrap .actions {
      padding-bottom: 0 !important;
    }
    .header-wrap .mod-badge-wrap {
      margin-bottom: 0 !important;
    }
    .header-wrap .dropdown,
    .header-wrap .donator-badge {
      position: initial !important;
    }
    .header-wrap .avatar {
      margin-bottom: -56px !important;
    }
  }
  @media (min-width: 761px) and (max-width: 1040px) {
    .header-wrap .banner {
      height: 90px !important;
    }
    .header-wrap .avatar {
      margin-bottom: -92px;
    }
    .nav.container {
      padding-left: 230px !important;
      padding-right: 50px !important;
    }
  }
  @media (max-width: 1040px) {
    #app > .wrap .footer {
      background-position: right bottom;
      background-size: contain;
      background-blend-mode: normal !important;
    }

    .home .activity-entry > .wrap > .actions,
    .user .activity-entry > .wrap > .actions {
        width: auto !important; /* Resets to the default width */
        display: block !important; /* Resets to block layout (default) */
    }


  }
  @media (min-width: 1041px) and (max-width: 1540px) {
    .nav.container {
      padding-left: 250px !important;
    }
    .nav .link {
      margin: 0 !important;
    }
  }
  
  /* Hover animations from drynfr01 */
  
  .banner-content:hover>.actions {
    transform: translateX(183px);
  }
  
  .activity-manga_list:hover,
  .activity-anime_list:hover {
    transform: scale(1.025);
  }
  
  .activity-manga_list:hover .title,
  .activity-anime_list:hover .title {
    opacity: 1;
    font-weight: bold;
  }
  
  .header>.avatar,
  .users>.user {
    opacity: var(--hokaze-vo);
    transition: var(--hokaze-vt);
    border-radius: var(--hokaze-ar) !important;
    border: var(--hokaze-vab);
  }
  
  .wrap:hover .header>.avatar,
  .users>.user:hover,
  .reply:hover .header>.avatar {
    opacity: 1;
    border-color: rgb(var(--color-blue));
  }
  
@media (max-width: 1540px) {
    .stats-wrap {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        gap: 28px;
    }
}


.milestones .milestone:after {
    padding-top: 0px !important;
}

.stats-wrap .footer .milestones {
    height: 25px;
    padding: 5px 0px;
}

.stats-wrap .stat:first-child .value {
    font-size: 5rem;
}

.stats-wrap .stat:first-child .label {
    font-size: 1em;
}

.stats-wrap > .list-stats > .stats-wrap {
    grid-auto-flow: inherit;
    align-items: center;
    row-gap: 1.2rem;
    grid-template-areas: "a b" "a c";
}

.stats-wrap .stat:nth-child(1) {
    grid-area: a;

}

.stats-wrap .stat:nth-child(2) {
    grid-area: b;
}

.stats-wrap .stat:nth-child(3) {
    grid-area: c;
}

.activity-feed-wrap, .activity-feed-wrap + div {
    margin-top: 25px;
} 